.tb_container {
    display: table;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.tb_row {
    display: table-row;
}

.tb_row div {
    display: table-cell;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 3px;
}

.row_center {
    text-align:center;
}

.row_color1 {
    background-color:#EAF2F8;
}

.row_color2 {
    /*background-color:#EEFFFF;*/
}

a,p,h1,h2,h3 {
    display: inline-block;
    padding: 0;
    margin: 0;
}